**1.**
The radius of a circle is 5.5. Write a script to compute the area of a circle.

In [1]:
pi = 3.14
r = 5.5
area = pi*r*r
print (area)

94.985

**2.**
Write a program where Python prints your name, then print them in reverse order with a comma between them.  Put this in the same cell.    

For example:

Sophia Barrett    
Barrett, Sophia

In [2]:
first_name= ("Jessica")
last_name= ("Delgado")
full_name = first_name +' '+ last_name
print(full_name)
print(last_name +', '+ first_name)

Jessica Delgado
Delgado, Jessica

**3.**  Write a program to test if a number is divisible by 5.

In [3]:
10% 5
num = 10
num%5

0

**4.**  What is the output of the following program?  

a = 1  
b = a * 2  
c = 2 * b + 1  
print(a)  
print(b)  
print(c)

In [4]:
a = 1  
b = a * 2  
c = 2 * b + 1

print(a,b,c)

1 2 5

**5.**  What is the output of the following program?  

a = 2  
b = a * 2  
c = b ** a  
a = c % 2  
print(a)  
print(b)  
print(c)

In [5]:
a = 2  
b = a * 2  
c = b ** a  
a = c % 2  

print(a, b, c)

0 4 16

**6.**    What is the output of the following program?  

a = 5  
b = a // 2  
c = a / 2  
a = a % 2  
print(a)  
print(b)  
print(c)

In [6]:
a = 5  
b = a // 2  
c = a / 2  
a = a % 2  

print(a,b,c)

1 2 2.5

**7.**  Type each of the following commands.  Note each response.    
print("Hello, world!")    
print("Hello", "world!")  
print(3)  
print(3.0)  
print(2 + 3)  
print(2.0 + 3.0)  
print(2 * 3)  
print(2 ** 3)
print(7 / 3)  
print(7 // 3)

In [7]:
print("Hello, world!")    
print("Hello", "world!")  
print(3) #just an argument
print(3.0)  
print(2 + 3)# printing an expresson
print(2.0 + 3.0)  # an expression ( something that has to be solved) sum of two floats, answer is a float
print(2 * 3)  #integer
print(2 ** 3)#
print(7 / 3)  
print(7 // 3) #floor division

Hello, world!
Hello world!
3
3.0
5
5.0
6
8
2.3333333333333335
2

**8.**

Create a program with a name and age.  Then have it print out a message addressed to name that tells them the year that they will turn 100 years old.

In [8]:
name = "Jessica Delgado"
age = 22
year = 2020 + (100-22)
print(name, "will turn 100 in", year)

Jessica Delgado will turn 100 in 2098

**9.**  Create a sequence of numbers from 3 to 19, but increment by 2.

In [9]:
range(3,19,2)
list(range(3,19,2))

[3, 5, 7, 9, 11, 13, 15, 17]

**10.**  Try to solve this problem on your own first, then check your results with python.    
  
  
a = 21

b = 10

c = 0

c = a + b
print "Line 1 - Value of c is ", c

c += a
print "Line 2 - Value of c is ", c 

c *= a
print "Line 3 - Value of c is ", c 

c /= a 
print "Line 4 - Value of c is ", c 

c  = 2

c %= a
print "Line 5 - Value of c is ", c

c **= a
print "Line 6 - Value of c is ", c

c //= a print "Line 7 - Value of c is ", c

In [12]:
21+10

31

In [13]:
31+21

52

In [14]:
52*21

1092

In [15]:
1092/ 21

52.0

In [16]:
2%21

2

In [17]:
54 % 21

12

In [18]:
12 ** 21

46005119909369701466112

In [19]:
46005119909369701466112//21

2190719995684271498386

In [34]:

a = 21

b = 10

c = 0

In [26]:
c = a+b
c

31

In [27]:
c += a
c

52

In [28]:
c *= a
c

1092

In [29]:
c /= a 
c

52.0

In [30]:
c  = 2

In [31]:
c %= a
c

2

In [32]:
c **= a
c

2097152

In [33]:
c //= a
c

99864